.character__list {
  margin-top: 20px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 10px;

  @include tablet {
    margin-top: 40px;
    margin-left: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  @include desktop {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  @include bigDesktop {
    margin-left: 100px;
  }
}
