.filter-section {
  width: 100%;
  height: auto;
}
.form__input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    flex-direction: row;
    width: 700px;
    margin: 56px 0px 0px;
  }
  @include desktop {
    flex-direction: row;
    margin-left: 100px;
  }
  @include bigDesktop {
    flex-direction: row;
    width: 1200px;
    margin-left: 100px;
  }

  &-label {
    margin: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;

    @include tablet {
      font-size: 20px;
    }
  }
}
.character__notfound {
  width: 300px;
  height: 1200px;
  text-align: center;
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: rgb(16, 214, 49);
}
