html {
  height: 100vh;
  background: url("https://1.bp.blogspot.com/-q4Fw-qiej1A/Xx8WX11_gGI/AAAAAAAAHWI/7e0zJOcyuKsM61bdtm-OJNl97UPDHW4NwCLcBGAsYHQ/w1200-h630-p-k-no-nu/DESKTOP-WALLPAPER-4K-RICK-AND-MORTY.png")
    repeat;
  //background-color: black;
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
  background-attachment: fixed;
  scroll-behavior: smooth;
  //font-family: $font-family;
  text-align: center;
}
